.profile-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  flex-direction: column;
}

.profile {
  height: 250px;
  width: 250px;
  border: 15px solid black;
  border-radius: 100%;
  bottom: 0;
  position: relative;
}

.infobar {
  height: 120px;
  color: white;
  font-size: x-large;
  flex-direction: column;
  background-color: black;
  width: 90%;
  border: none;
  top: 0;
  margin-top: -15px;
  position: relative;

  justify-content: center;
  display: flex;
  align-items: center;
  z-index: -1;
}

.dev {
  color: #2ecf81;
  font-size: larger;
  font-weight: 1000;
}
