html {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background: linear-gradient(0.25turn, #5a0000, #def7cb, #473505);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.spacer {
  padding-top: 80px;
  padding-bottom: 100px;
}

iframe {
  -moz-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
