html {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  z-index: -2;
  height: 100%;
}
body {
  /* background: linear-gradient(0.25turn, #0b7aad, #7efce7, #1251c7); */
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  z-index: -2;
}
#root {
  background: linear-gradient(0.25turn, #0b7aad, #7efce7, #1251c7);
  min-height: 100%;
  position: relative;
  z-index: -2;
}
.main-container {
  min-height: 100%;
  padding-bottom: 110px;
  z-index: -2;
}
.main-body {
  min-height: 100%;
}
.main-footer {
  display: flex;
  align-self: flex-end;
  z-index: 2;
}
